@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  line-height: 1.3rem;
  text-decoration: none;
}

.logo-medic{
  font-size: 2rem;
  margin-right: -3px;
}

.logo-typho{
  font-size: 2rem;
  font-weight: 700;
}

.main-page{
  margin: 3rem;
  display: flex;
  align-items: start;
  justify-content: space-evenly;

}

.form-medication{
  border: 1px solid rgba(71, 71, 71, 0.308);
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  padding: 1rem;
  width: 30rem;

  transition: all .3s ease;
}

.form-medication:hover{
  box-shadow: none;
}

.medication-item{
  width: 25rem;
  transition: all .3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.medication-item:hover{
  cursor: default;
  background-color: rgb(243, 243, 243);
  box-shadow: none;
}

.medication-card p{
  font-size: 12px;
  height: 0.2rem;
}

.medication-status{
  font-size: larger;
  width: 0;
}

.edit-card{
  position: absolute;
  right: 0rem;
  top: 0.03rem;

  background-color: white; 
  width: 5rem;
  height: 4.5rem;
  
  border-right: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  border-radius: 0px 5px 5px 0px;

  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: end;
  padding: 0.5rem;

  transition: all .4s ease;
}

.animation-edit{
  right: -5.1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all .3s ease;
}

.edit{
  padding: 2px;
}

.edit:hover{
  transition: all .4s ease;
  transform: scale(1.2);
}

.delete{
  padding: 2px;
}

.delete:hover{
  transition: all .4s ease;
  transform: scale(1.2);
}